<body>
  <div class="email_wrapper">
    <div
      style="
        max-width: 600px !important;
        margin: 50px auto !important;
        padding: 0px;
        border: 1px solid #797979;
      "
    >
      <div style="width: 80%; margin: auto">
        <div style="text-align: center" class="logo">
          <div style="display: flex; flex-wrap: wrap">
            <div style="width: 100%; padding: 15px">
              <img
                src="https://hysitzro.sirv.com/Dineoutblack%20logo.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div>
          <p style="text-align: center; font-size: 18px; padding-bottom: 50px">
            Your booking at <%=options.userinfo.title %><br />
            is now
            <span style="color: red; font-size: 18px"
              ><b><%=options.message %></b></span
            >
          </p>
          <h3 class="">
            <%=options.userinfo.first_name %>&nbsp;<%=options.userinfo.last_name
            %><br />
            <%=options.userinfo.person_no %> people on <%=options.Bookday %>
            <%=options.bookdate %>  <%=options.Bookmonth %> <%=options.bookingTime %> to
            <%=options.bookingTimeto %>
          </h3>
          <p style="margin-top: 4px">
            Booking reference:<%=options.userinfo.id %>
          </p>
          <p>
            Information about &nbsp;<%=options.userinfo.title %> about your booking:
          </p>
          <p style="margin-bottom: 40px">
            Your sincerely<br />
            <%=options.userinfo.title %>
          </p>
        </div>
      </div>
 
</body>
