Hi,</br>
You have received a new booking enquiry for <%=options.person %> guests on <%=options.date %> at <%=options.time %>.<br/>
Name: <%=options.name %><br/>
View it on Dineouthalal:<br/>
<a href="<%=options.dashboardLink %>">View Booking</a>
<br/><br/>
Cheers,<br/>
Dineout Halal